<html>

<head>
	<meta name="author" content="Rogers B Spiers" />
	<meta name="description" content="Time Table design" />
	<link rel="stylesheet" href="./custom.css" />

	<title>FOS:: TIme Table</title>
	<script type="text/javascript" src="./drag.js"></script>
	<script type="text/javascript">
	</script>
</head>

<body>
	<center>
		<h2>Example 3: School timetable</h2>
	</center>
	<div id="main_container">
		<!-- tables inside this DIV could have draggable content -->
		<div id="drag">
			<!-- left container -->
			<div style=" display:flex;">
				<!-- All Tables -->
				<div style="width: 30%;">
					<!-- first table -->
					<div id="left">
						<table id="table1">
							<colgroup>
								<col width="100" />
							</colgroup>
							<tbody id="courseUnits">
								<tr>
									<td class="trash" title="Trash">Course Units</td>
								</tr>

							</tbody>
						</table>
					</div>
					<div id="center">
						<table id="table3">
							<colgroup>
								<col width="100" />
							</colgroup>
							<tbody>
								<tr>
									<td class="trash" title="Trash"> Rooms</td>
								</tr>
								<div id="rooms"></div>
							</tbody>
						</table>
					</div>

				</div>
				<div>

					<!-- right container -->
					<div id="right">
						<table id="table2">
							<colgroup>
								<col width="50" />
								<col width="100" />
								<col width="100" />
								<col width="100" />
								<col width="100" />
								<col width="100" />
								<col width="100" />
							</colgroup>
							<tbody>
								<tr>
									<!-- if checkbox is checked, clone school subjects to the whole table row  -->
									<td class="mark blank"><input id="week" type="checkbox"
											title="Apply school subjects to the week" /></td>
									<td class="mark dark">Monday</td>
									<td class="mark dark">Tuesday</td>
									<td class="mark dark">Wednesday</td>
									<td class="mark dark">Thursday</td>
									<td class="mark dark">Friday</td>
								</tr>

							</tbody>
						</table>
					</div><!-- right container -->
				</div>
			</div>
			<div>

				<table width="100%" id="table4">
					<thead>
						<tr>
							<th class="mark dark" colspan="2" width="180">Day</th>
							<th class="mark dark" width="100">07:00</th>
							<th class="mark dark" width="100">08:00</th>
							<th class="mark dark" width="100">09:00</th>
							<th class="mark dark" width="100">10:00</th>
							<th class="mark dark" width="100">11:00</th>
							<th class="mark dark" width="100">12:00</th>
							<th class="mark dark" class="mark dark" width="100">01:00</th>
							<th class="mark dark" width="100">02:00</th>
							<th class="mark dark" width="100">03:00</th>
							<th class="mark dark" width="100">04:00</th>
							<th class="mark dark" width="100">05:00</th>
						</tr>
					</thead>

					<tbody>
					</tbody>
				</table>

			</div>

		</div><!-- drag container -->
		<br />
		<div id="message">Please drag school subjects to the timetable</div>
		<div class="button_container">
			<input type="button" value="Save" class="button" onclick="save()" title="Save timetable" />
		</div>
	</div><!-- main container -->
	<div class="example-parent">
		<h1>To-do list</h1>
		<div class="example-origin">
		  To-do
		  <div
			id="draggable-1"
			class="example-draggable"
			draggable="true"
			ondragstart="onDragStart(event);"
		  >
			thing 1
		  </div>
		  <div
			id="draggable-2"
			class="example-draggable"
			draggable="true"
			ondragstart="onDragStart(event);"
		  >
			thing 2
		  </div>
		  <div
			id="draggable-3"
			class="example-draggable"
			draggable="true"
			ondragstart="onDragStart(event);"
		  >
			thing 3
		  </div>
		  <div
			id="draggable-4"
			class="example-draggable"
			draggable="true"
			ondragstart="onDragStart(event);"
		  >
			thing 4
		  </div>
		</div>
	  
		<div
		  class="example-dropzone"
		  ondragover="onDragOver(event);"
		  ondrop="onDrop(event);"
		>
		  Done
		</div>
	  </div>
	<script type="text/javascript" src="./src/app.js"></script>
</body>

</html>